@font-face {
  font-family: "Universal Light";
  src: local("Universal Light"), /* проверяем наличие шрифта в ОС пользователя */ url(../fonts/UniversalLight.ttf);
  
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
h2 {
  font-size: 2.18em;
}
h3 {
  font-size: 1.68em;
}
h4 {
  font-size: 1.56em;
}
p {
  font-size: 0.94em;
  /* font-family: "Universal Light";*/
  color: #777777;
}
/**NAVBAR**/
.navbar {
  height: 90px;
  background-color: rgba(248, 248, 248, 0.9);
  border: none;
  margin: 0px;
}
.navbar .navbar-brand {
  text-indent: -9999px;
  margin-top: 15px;
  width: 134px;
  height: 55px;
  background: url(../images/logo.png) no-repeat;
}
.navbar .navbar-header span.icon-bar {
  background-color: #fff;
}
.navbar .nav {
  margin-top: 30px;
}
.navbar .nav a {
  line-height: 0;
  color: #777777;
}
.navbar .nav a:hover {
  color: #dbdbdb;
  background-color: transparent;
}
.navbar .nav a:focus,
.navbar .nav a:active {
  background-color: transparent;
  color: #dbdbdb;
}
.navbar .nav span {
  line-height: 0;
  color: #fff;
  border: none;
  margin-left: 3px;
  margin-right: 3px;
}
.navbar .nav .btn {
  line-height: 0;
  background-color: #de6d6e;
  color: #fff;
  border: none;
  margin-left: 20px;
  margin-right: 10px;
}
.navbar .nav .btn:hover,
.navbar .nav .btn:focus {
  color: #f9f9f9;
  background-color: #d36a6a;
}
/**END NAVBAR**/
.jumbotron {
  padding: 0;
  background: #2d2d30 url(../images/bg/hero-unit.jpg) no-repeat 50% top;
  height: 615px;
}
.jumbotron .jumbo-text {
  color: #fff;
  bottom: 0;
  margin-top: 425px;
}
.jumbotron .jumbo-text h1 {
  font-weight: bold;
  text-transform: uppercase;
}
.jumbotron .text-wrapper {
  margin: auto;
  width: 80%;
}
.jumbotron .text-wrapper h2 {
  margin-bottom: 20px;
}
/**ABOUT**/
.about {
  margin: 10px 0;
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.5);
}
.about .about-images {
  padding: 55px 0px;
}
.about .about-images .item1 {
  background-color: #4eb9f4;
}
.about .about-images .item2 {
  background-color: #6fc125;
}
.about .about-images .item3 {
  background-color: #ff5649;
}
.about .about-images .item4 {
  background-color: #e48f23;
}
.about .about-images .ab-item {
  position: relative;
  margin: 0 auto;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
.about .about-images .ab-item:hover {
  cursor: pointer;
}
.about .about-images .ab-item:hover .ab-body {
  opacity: 0.26;
}
.about .about-images .ab-item:hover .ab-body h5 {
  display: none;
}
.about .about-images .ab-item:hover .ab-text {
  display: block;
  padding: 45px 2px;
}
.about .about-images .ab-item:hover .ab-text p {
  color: #fff;
}
.about .about-images .ab-item .ab-body h5 {
  margin: auto;
  padding-top: 75%;
  text-transform: capitalize;
}
.about .about-images .ab-item .ab-text {
  display: none;
}
.about .about-images .ab-item .ab-camera {
  background: url("../images/thumb/camera-thumb.png") no-repeat center 35%;
}
.about .about-images .ab-item .ab-tickets {
  background: url("../images/thumb/tickets-thumb.png") no-repeat center 35%;
}
.about .about-images .ab-item .ab-beer {
  background: url("../images/thumb/beer-thumb.png") no-repeat center 35%;
}
.about .about-images .ab-item .ab-dev {
  background: url("../images/thumb/device-thumb.png") no-repeat center 35%;
}
.about .about-images .ab-item .ab-thumb {
  display: block;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}
/**END ABOUT**/
/**news**/
.news {
  padding: 40px 0 80px 60px;
}
.news .media:first-child {
  margin-top: 0;
}
.news .media {
  margin-top: 70px;
}
/**END NEWS**/
/**FOOTER**/
.footer {
  background: url(../images/bg/footer-bg.jpg) top;
}
.footer .footer-body {
  padding: 30px 0px 20px 60px;
  color: #8a8b8a;
}
.footer .footer-body h4 {
  color: #696b6a;
}
.footer .footer-body dt {
  padding-bottom: 10px;
}
.footer .footer-body dl a {
  color: #8a8b8a;
  font-size: 0.93em;
}
.footer .footer-body dl a:hover {
  color: #fff;
  text-decoration: none;
}
.footer .footer-body .social-icons {
  padding-top: 10px;
}
.footer .footer-body .social-icons .list-inline li {
  padding-right: 15px;
}
.footer .footer-body .social-icons .icon-container {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #8a8b8a;
  border-radius: 50%;
}
.footer .footer-body .social-icons .icon-container:hover {
  background-color: #9e9f9e;
}
.footer .footer-body .social-icons .icon-container .social-icon {
  width: 40px;
  height: 45px;
  background: url(../images/social-sprite.png) no-repeat left top;
  position: absolute;
  display: block;
}
.footer .footer-body .social-icons .icon-container .fb {
  background-position: 14px top;
  top: 5px;
}
.footer .footer-body .social-icons .icon-container .tw {
  background-position: -17px top;
  top: 7px;
}
.footer .footer-body .social-icons .icon-container .dr {
  background-position: -60px top;
  top: 5px;
}
.footer .footer-body .social-icons .icon-container .sh {
  background-position: -98px top;
  top: 5px;
}
/**END FOOTER**/
/* Medium devices (desktops, 992px and up) */
@media (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    width: 100%;
    overflow: hidden;
  }
  .navbar-collapse .nav li {
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .navbar-collapse .nav li:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .navbar-collapse .nav a {
    font-size: 1em;
    border-bottom: 1px solid #bfbaa3;
  }
  /*end nav*/
  .about .about-images .ab-item {
    margin-bottom: 20px;
  }
  .about .news {
    padding: 0 10px;
  }
  .about .news .media-left {
    display: block;
  }
  .about .news .media-left img {
    width: 100%;
  }
}
